# Arquivos e diretórios relacionados ao sistema de controle de versão
**/.git
**/.gitignore

# Arquivos e diretórios de configuração de IDE e ferramentas
**/.classpath
**/.dockerignore
**/.env
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm

# Arquivos e diretórios de compilação e dependências
**/azds.yaml
**/bin
**/obj
**/node_modules
**/npm-debug.log

# Arquivos e diretórios relacionados ao Docker e Kubernetes
**/docker-compose*
**/Dockerfile*
**/charts
**/secrets.dev.yaml
**/values.dev.yaml

# Arquivos de licença e documentação
LICENSE
README.md
